html *{
    margin: 0;
    padding: 0;

    font-family: Quicksand;
}

body{
    background-color: white;
}

/* header */
    /* navbar */

.navbar{
    background-color: rgb(164, 213, 179);
}

.navbar img{
    width: 2.5rem;
    margin: 0 0.5rem;
}

.navbar .navbar-brand{
    font-size: 1.5rem;
    font-weight: 700;
}

.navbar a{
    color: rgb(105, 71, 9);
}

/* carrusel */
/* .carousel{
    padding-top: 3.85rem;
} */

/* body */
    /* parrafos */

.titulo{
    color: rgb(105, 71, 9);
    font-weight: 700;
    font-size: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
}

#parrafos .parrafo1{
    text-align: justify;
}

.qs_barra{
    width: 99%;
    color:rgb(105, 71, 9);
}

#parrafos p{
    color: rgb(105, 71, 9);
    font-size: 1rem;
    font-weight: 400;
}

#parrafos i{
    color: rgb(105, 71, 9);
    background-color: rgb(164, 213, 179);
    width: 100%;
    height: 2rem;
    text-align: center;
    padding-top: 0.4rem;
}

#parrafos #textos_parrafos{
    padding-top: 2rem;
}

#barraquienessomossup{
    margin-bottom: 0.5rem;
}

#barraquienessomosinf{
    margin-top: 0.5rem;
}

/* tarjetas */
#tarjetas{
    padding: 2rem 0;
}

#tarjetas .card{
    background-color: rgb(164, 213, 179);
    margin-bottom: 1rem;
}

/* contacto */
#contacto{
    padding: 2rem 0 0 0;
}

#contacto .card .card-body{
    height: 25rem;
    text-align: center;
    margin-top: 20rem;
    color: rgb(105, 71, 9);
}

#contacto p{
    padding-left: 0.5rem;
    margin-top: 0.7rem;

}


/* footer */
#footer{
    background-color: rgb(164, 213, 179);
    color: rgb(105, 71, 9);
    font-size: 2rem;
    justify-content: space-around;
    padding: 1rem 0;
}

#footer i{
    color: rgb(105, 71, 9);
}

#footer p{
    font-weight: 700;
}